.border-round {
  border-radius: 100%;
}

.border-rounded-1 {
  border-radius: 0.125rem;
}

.border-rounded-2 {
  border-radius: 0.25rem;
}

.border-rounded-3 {
  border-radius: 0.5rem;
}

.border-rounded-4 {
  border-radius: 1rem;
}

.border-rounded-5 {
  border-radius: 2rem;
}

.border-rounded-max {
  border-radius: 9999px;
}
