.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-progress {
  cursor: progress;
}

.cursor-not {
  cursor: not-allowed;
}

.cursor-help {
  cursor: help;
}

.cursor-zoom-in {
  cursor: zoom-in;
}

.no-select {
  user-select: none;
}

.no-pointer-events {
  pointer-events: none;
}
