.hover-dim {
  &:hover,
  &:focus {
    opacity: 0.75;
  }
  &:active {
    opacity: 1;
  }
}

.hover-invert {
  &:hover,
  &:focus {
    filter: invert(100%);
  }
  &:active {
    filter: none;
  }
}
