@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .margin-top-#{$nameSizeSuffix},
  .margin-y-#{$nameSizeSuffix},
  .margin-#{$nameSizeSuffix} {
    margin-top: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .margin-top-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-y-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-#{$nameSizeSuffix}--#{$breakpointName} {
        margin-top: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .margin-right-#{$nameSizeSuffix},
  .margin-x-#{$nameSizeSuffix},
  .margin-#{$nameSizeSuffix} {
    margin-right: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .margin-right-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-x-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-#{$nameSizeSuffix}--#{$breakpointName} {
        margin-right: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .margin-bottom-#{$nameSizeSuffix},
  .margin-y-#{$nameSizeSuffix},
  .margin-#{$nameSizeSuffix} {
    margin-bottom: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .margin-bottom-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-y-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-#{$nameSizeSuffix}--#{$breakpointName} {
        margin-bottom: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .margin-left-#{$nameSizeSuffix},
  .margin-x-#{$nameSizeSuffix},
  .margin-#{$nameSizeSuffix} {
    margin-left: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .margin-left-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-x-#{$nameSizeSuffix}--#{$breakpointName},
      .margin-#{$nameSizeSuffix}--#{$breakpointName} {
        margin-left: $valueSizeSuffix;
      }
    }
  }
}
