@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .padding-top-#{$nameSizeSuffix},
  .padding-y-#{$nameSizeSuffix},
  .padding-#{$nameSizeSuffix} {
    padding-top: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .padding-top-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-y-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-#{$nameSizeSuffix}--#{$breakpointName} {
        padding-top: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .padding-right-#{$nameSizeSuffix},
  .padding-x-#{$nameSizeSuffix},
  .padding-#{$nameSizeSuffix} {
    padding-right: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .padding-right-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-x-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-#{$nameSizeSuffix}--#{$breakpointName} {
        padding-right: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .padding-bottom-#{$nameSizeSuffix},
  .padding-y-#{$nameSizeSuffix},
  .padding-#{$nameSizeSuffix} {
    padding-bottom: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .padding-bottom-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-y-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-#{$nameSizeSuffix}--#{$breakpointName} {
        padding-bottom: $valueSizeSuffix;
      }
    }
  }
}

@each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
  .padding-left-#{$nameSizeSuffix},
  .padding-x-#{$nameSizeSuffix},
  .padding-#{$nameSizeSuffix} {
    padding-left: $valueSizeSuffix;
  }
}

@each $breakpointName, $breakpointWidth in $breakpointSuffixWidthList {
  @media screen and (min-width: $breakpointWidth) {
    @each $nameSizeSuffix, $valueSizeSuffix in $sizeList {
      .padding-left-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-x-#{$nameSizeSuffix}--#{$breakpointName},
      .padding-#{$nameSizeSuffix}--#{$breakpointName} {
        padding-left: $valueSizeSuffix;
      }
    }
  }
}
